<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SRCCON 2020 Schedule</title>
        <meta name="description" content="Session schedule for SRCCON 2020, July 15-17, online!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://use.typekit.net/clq2rji.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
        
        <meta property="og:title" content="SRCCON 2020 Schedule">
        <meta property="og:type" content="article">
        <meta property="og:description" content="A participant-led conference from OpenNews for journalists who want to transform their work, their organizations, and their communities."/>
        <meta property="og:image" content="https://2020.srccon.org/media/img/srccon_share_logo.png" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" value="@srccon" />
        <meta name="twitter:title" value="SRCCON 2020 Schedule" />
        <meta name="twitter:description" value="A participant-led conference from OpenNews for journalists who want to transform their work, their organizations, and their communities." />
        <meta name="twitter:image" value="https://2020.srccon.org/media/img/srccon_share_logo.png" />
        <meta name="twitter:image:alt" value="SRCCON conference logo" />
        
        <link rel="stylesheet" href="/schedule/css/schedule.css">
        <link rel="shortcut icon" href="/schedule/img/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" type="image/png" href="img/touch-icon-144x144.png" sizes="144x144" />
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-51039715-2', 'auto');
          ga('send', 'pageview');
        </script>
        <script src="/schedule/js/modernizr.js"></script>
    </head>
    <body>
        <header>
            <nav id="header-nav">
                <div class="container">
                    <a href="/" id="corner-logo"><img src="/media/img/srccon_logo.png"></a>
                    <ul class="site-nav-links">
                    </ul>
                </div>
            </nav>        
            <div id="header-callout">
                <div class="page-container">
                    <span>Wednesday-Friday &nbsp;&bull;&nbsp; July&nbsp;15-17 &nbsp;&bull;&nbsp; Online!</span>
                </div>
            </div>
        </header>
        
        <div id="controls" class="container">
            <div id="schedule-controls"></div>
            <article id="schedule"></article>
        </div>


        <script type="text/template" id="session-list-template">
        <div id="wednesday" class="schedule-tab">
            <h3><span>Wed <i class="localize">12 PM ET</i></span></h3>
            <div id="wed-12pm" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Wed <i class="localize">1 PM ET</i></span></h3>
            <div id="wed-1pm" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Wed <i class="localize">1:30 PM ET</i></span></h3>
            <div id="wed-130pm" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Wed <i class="localize">3 PM ET</i></span></h3>
            <div id="wed-3pm" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Wed <i class="localize">8 PM ET</i></span></h3>
            <div id="wed-8pm" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Wed <i class="localize">9:30 PM ET</i></span></h3>
            <div id="wed-930pm" class="page-block"><div class="open-block">OPEN</div></div>
        </div>
            
        <div id="thursday" class="schedule-tab">
            <h3><span>Thu <i class="localize">11 AM ET</i></span></h3>
            <div id="thu-11am" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Thu <i class="localize">12 PM ET</i></span></h3>
            <div id="thu-12pm" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Thu <i class="localize">12:30 PM ET</i></span></h3>
            <div id="thu-1230pm" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Thu <i class="localize">4 PM ET</i></span></h3>
            <div id="thu-4pm" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Thu <i class="localize">5:15 PM ET</i></span></h3>
            <div id="thu-515pm" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Thu <i class="localize">5:30 PM ET</i></span></h3>
            <div id="thu-530pm" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Thu <i class="localize">6:15 PM ET</i></span></h3>
            <div id="thu-615pm" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Thu <i class="localize">7 PM ET</i></span></h3>
            <div id="thu-7pm" class="page-block"><div class="open-block">OPEN</div></div>
        </div>
        
        <div id="friday" class="schedule-tab">
            <h3><span>Fri <i class="localize">10 AM ET</i></span></h3>
            <div id="fri-10am" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Fri <i class="localize">11 AM ET</i></span></h3>
            <div id="fri-11am" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Fri <i class="localize">12 PM ET</i></span></h3>
            <div id="fri-12pm" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Fri <i class="localize">12:30 PM ET</i></span></h3>
            <div id="fri-1230pm" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Fri <i class="localize">3 PM ET</i></span></h3>
            <div id="fri-3pm" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Fri <i class="localize">3:45 PM ET</i></span></h3>
            <div id="fri-345pm" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Fri <i class="localize">4:15 PM ET</i></span></h3>
            <div id="fri-415pm" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Fri <i class="localize">5:30 PM ET</i></span></h3>
            <div id="fri-530pm" class="page-block"><div class="open-block">OPEN</div></div>
        </div>
        </script>

        <script type="text/template" id="session-card-template">
        <a href="#_session-<%= sessionID %>" id="session-<%= sessionID %>" class="session-list-item session-<%= sessionClass %>" data-session="<%= sessionID.replace('-ghost','') %>">
            <h4><%= smartypants(session.title) %></h3>
            <% if (showFacilitators) { %><p class="session-facilitators"><%= smartypants(session.facilitators) %></p><% } %>
            <p>
                <span class="session-time"><% if (showDay) { %><%= session.day %>, <% } %><%= session.time %></span>
                <% if (session.transcription) { %><span class="session-transcription"><i class="fa fa-cc"></i></span><% } %>
            </p>
        </a>
        </script>

        <script type="text/template" id="session-list-item-template">
        <a href="#_session-<%= sessionID %>" id="session-<%= sessionID %>" class="session-list-item" data-session="<%= sessionID.replace('-ghost','') %>">
            <h4><%= smartypants(session.title) %></h3>
            <% if (showFacilitators) { %><p class="session-facilitators"><%= smartypants(session.facilitators) %></p><% } %>
            <% if (session.day || session.time || session.room) { %>
            <p>
                <span class="session-time"><% if (showDay && session.day) { %><%= session.day %>, <% } %><%= session.time %></span>
                <% if (session.transcription) { %><span class="session-transcription"><i class="fa fa-cc"></i></span><% } %>
            </p>
            <% } %>
            <div class="hidden session-description"><% if (session.description) { %><%= marked(session.description.replace('http://','').replace('https://','')) %><% } %></div>
        </a>
        </script>

        <script type="text/template" id="session-detail-template">
        <div id="session-detail-wrapper">
            <div class="container">
                <article id="schedule">
                    <div id="session-detail-<%= session.id %>" class="session-detail" data-session="<%= session.id %>">
                        <a id="show-full-schedule" href="/">&larr; Back to full schedule</a>
                        <h2><%= smartypants(session.title) %></h2>
                        <% if (session.facilitators) { %><p class="session-facilitators"><strong>Session facilitator(s):</strong> <%= smartypants(session.facilitators) %></p><% } %>
                        <% if (session.day || session.time || session.room) { %>
                        <p>
                            <span class="session-time"><strong>Day & Time:</strong> <% if (session.day) { %><%= session.day %>, <% } %><%= session.time %></span>
                        </p>
                        <% } %>
                        <% if (session.transcription) { %><p><i class="fa fa-cc"></i> <strong><a href="/transcripts/SRCCON2019-<%= session.id %>">Live transcript of this session</a></strong></p><% } %>
                        <% if (session.notepad) { %><p><i class="fa fa-file-text-o"></i> <strong><a href="https://etherpad.opennews.org/p/SRCCON2019-<%= session.id %>">Session notes & resources</a></strong></p><% } %>
                        <% if (session.description) { %><%= marked(session.description) %><% } %>

                        <% if (session.twitter) { %>
                            <div id="tweet-container"></div>
                            <% _.each(session.twitter, function(tweet) { %>
                                <%= embedTweet(tweet) %>
                            <% }); %>
                        <% } %>
                    </div>
                </article>
            </div>
        </div>
        </script>
        
        <script src="/schedule/js/jquery-2.1.0.min.js"></script>
        <script src="/schedule/js/underscore-min.js"></script>
        <script src="/schedule/js/marked.min.js"></script>
        <script src="/schedule/js/moment.min.js"></script>
        <script src="/schedule/js/moment-timezone.min.js"></script>
        <script src="/schedule/js/schedule.js"></script>
        <script>
            var config = {
                pathToSessionsJson: '/schedule/sessions.json',
                localStoragePrefix: 'srccon-2020',
                localizeTimes: true,
                tabList: [
                    { name: 'Wednesday', displayName: 'Wed', tabDate: new Date(2020,6,15) },
                    { name: 'Thursday', displayName: 'Thu', tabDate: new Date(2020,6,16) },
                    { name: 'Friday', displayName: 'Fri', tabDate: new Date(2020,6,17) },
                    { name: 'All', displayName: '<i class="fa fa-search"></i>' }
                ]
            }
            // fire up the app
            new Schedule(config);
        </script>
    </body>
</html>
